<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>intergalacticTravel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E766355B1BEBC4850099E146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E766356F1BEBC4850099E146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E766357A1BEBC4850099E146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
